@model User

<form method="post">
    <div class="border  mt-5" style="width:100%">
        <div class="row pb-2 m-3">
            <h2 class="text-primary">Create User</h2>
            <hr />
        </div> 
       @* <div asp-validation-summary="All"></div>*@
        <div class="m-3">
            <label asp-for="Uid"></label>
            <input asp-for="Uid" class="form-control"/>
            <span asp-validation-for="Uid" class="text-danger"></span>
        </div>
        <div class="m-3">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="m-3">
            <label asp-for="UserType"></label>
            <input asp-for="UserType" class="form-control" />
            <span asp-validation-for="UserType" class="text-danger"></span>
        </div>
        <div class="m-3">
            <label asp-for="Email"></label>
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button  type="submit" class="btn btn-primary m-3" style="width:150px">Create</button>
       <a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="width:150px">
           Back to List
       </a>
    </div>
</form>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}